<div class="container sp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quản lý sản phẩm</h3>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Tác giả</th>
                        <th>Nhà xuất bản</th>
                        <th>Thể loại</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each Book}}

                    <tr>
                        <td>{{idSach}} </td>
                        <td>{{ten_sach}} </td>
                        <td>{{tac_gia}}</td>
                        <td>{{tenNhaSX}}</td>
                        <td>{{tenLoai}}</td>
                        <td>{{giaBan}} </td>
                        <td>{{soLuongSP}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <nav class="pagination">
                <ul class="pagination">
                    <li>
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                    <li>
                        <a>5</a>
                    </li>
                    <li>
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <button class="btn btn-info" type="button">Thêm </button>
    <button class="btn btn-info" type="button">Xóa </button>
    <button class="btn btn-info" type="button">Sửa </button>
</div>